<h2 class="mb-5"><%= @user.familyName %> <%= @user.lastName %>様詳細プロフィール</h2>
<p>氏名：<%= @user.familyName %> <%= @user.lastName %> (<%= @user.familyNameDetail %> <%= @user.lastNameDetail %>)</p>
<p>性別：<%= @user.gender %>　　生年月日：<%= @user.birthdate %>　　居住地：<%= @user.location %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>学歴：<%= @user.education %></p>
<p>職歴：<%= @user.career %></p>
<p>エンジニアになる理由：<%= @user.reason %></p>
<p>長所：<%= @user.strongPoint %>　　短所：<%= @user.weakPoint %></p>
<p>エンジニアとしての目標：<%= @user.goal %></p>
<p>学習に使っているサイト・書籍：<%= @user.learningResource %></p>
<p>情報収集に使っているサイト・書籍：<%= @user.informationResource %></p>
<p>学習した言語・フレームワーク：<%= @user.programmingLanguage %></p>
<p>ポートフォリオ：<%= @user.portfolio %></p>
<p>作ってみたいプロダクト：<%= @user.futureProduct %></p>
<p>自己紹介：<%= @user.introduction %></p>
<p>希望勤務地：<%= @user.workplace %></p>
<p>希望年収：約<%= @user.annualSalary %>万円</p>
<p>勤務開始可能日：<%= @user.startingDate %></p>